<body class="container">

  <header>
    <h1>NewSca</h1>
    <h5 class="u-pull-left">Do you want the good news or the bad news first ?</h5>
  </header>

  <input class="negative" name="min" type="range" value=-1 min="-1" max="0" step="0.10">
  <input class="positive" name="max" type="range" value=1 min="0" max="1" step="0.10">
  <button class="newNS">Set new NS</button>
  <div class="row">
    <div class="columns">
      <nav class="categories">
        <button class="cat" id="all">All</button>
        <button class="cat" id="news">News</button>
        <button class="cat" id="society">Society</button>
        <button class="cat" id="politics">Politics</button>
        <button class="cat" id="business">Business</button>
        <button class="cat" id="art">Art</button>
        <button class="cat" id="technology">Technology</button>
        <button class="cat" id="science">Science</button>
        <button class="cat" id="health">Health</button>
        <button class="cat" id="sport">Sport</button>
        <button class="cat" id="travel">Travel</button>
      </nav>
      <section class="newsList">

      </section>
    </div>
  </div>

  <footer>
    <form class="search">
      <input class="searchBar" type="text" placeholder="Search by keyword">
      <button class="serchbtn">Search</button>
    </form>
  </footer>

</body>
